/.phpunit.cache
/.phpunit.result.cache
/node_modules
/public/build
/public/hot
/public/imgs/avatars/*
!/public/imgs/avatars/avatar.jpg
/public/imgs/blog/*
!/public/imgs/blog/.gitkeep
/public/imgs/thumbs/*
!/public/imgs/thumbs/.gitkeep
/vendor
.env
npm-debug.log
/.vscode