:root {
  font-size: 16px;
  --panel-bg: rgba(0, 0, 0, 0.555);
  --panel-h: rgba(146, 146, 146, 0.24);
  --panel-a: rgba(175, 175, 175, 0.24);
  --black-panel-h: rgb(141, 141, 141);
  --pag-h: rgba(50, 50, 50, 0.622);
  --pag-a: rgba(86, 86, 86, 0.668);
  --text-2: rgb(196, 196, 196);
  --solid-h: rgb(70, 70, 70);
  --blue: rgb(45, 45, 180);
  --red: rgb(178, 46, 46);
  --yellow: rgb(205, 184, 21);
  --orange: rgb(185, 105, 14);
  --purple: rgb(149, 45, 180);
  --green: rgb(39, 132, 62);
}

/*
|------------------------------------------------------------
| Reset
|------------------------------------------------------------
*/

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
}

html,
:host {
  line-height: 1.4;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
}

button,
input {
  outline: none;
}

html {
  line-sizing: normal;
}

body {
  line-height: inherit;
}

[hidden] {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

pre {
  white-space: pre-wrap;
}

hr {
  color: inherit;
  height: 0;
  overflow: visible;
  border-top-width: 1px;
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object h {
  display: block;
  vertical-align: middle;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
}

picture {
  display: contents;
}

source {
  display: none;
}

img,
svg,
video,
canvas {
  height: auto;
  font-style: italic;
}

audio {
  width: 100%;
}

img {
  background-repeat: no-repeat;
  background-size: cover;
}

svg {
  overflow: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

address {
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-size: 1em;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

small {
  font-size: 80%;
}

textarea {
  resize: vertical;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button,
select {
  text-transform: none;
}

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

/*
|------------------------------------------------------------
| Scrollbars
|------------------------------------------------------------
*/

/* body::-webkit-scrollbar {
}

body::-webkit-scrollbar-track {
}

body::-webkit-scrollbar-thumb {
} */

/*
|------------------------------------------------------------
| Utilities
|------------------------------------------------------------
*/

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%
}

.h-fit {
  height: fit-content;
}

.w-fit {
  width: fit-content;
}

.w-min-fit {
  min-width: fit-content;
}

.h-min-fit {
  min-height: fit-content;
}

.flex-r {
  display: flex;
}

.flex-c {
  display: flex;
  flex-direction: column;
}

.f-al-cent {
  align-items: center;
}

.f-al-st {
  align-items: flex-start;
}

.f-al-end {
  align-items: flex-end
}

.f-just-bet {
  justify-content: space-between;
}

.f-just-cent {
  justify-content: center;
}

.f-just-eve {
  justify-content: space-evenly;
}

.f-just-end {
  justify-content: flex-end;
}

.of-y-clip {
  overflow-y: clip;
}

.of-x-clip {
  overflow-x: clip;
}

.of-y-hide {
  overflow-y: hidden;
}

.of-x-hide {
  overflow-x: hidden;
}

.of-y-scroll {
  overflow-y: scroll;
}

.of-x-scroll {
  overflow-x: scroll;
}

.of-y-auto {
  overflow-y: auto;
}

.of-x-auto {
  overflow-x: auto;
}

.pos-rel {
  position: relative;
}

.pos-ab {
  position: absolute;
}

.pos-fix {
  position: fixed;
}

.pos-stick {
  position: sticky;
}

.point {
  cursor: pointer;
}

.no-select {
  user-select: none;
}

.disp-none {
  display: none;
}

input[type=text],
input[type=password],
input[type=email],
textarea {
  background-color: transparent;
  border: 1px solid white;
  outline: none;
}

input[type=text]:hover,
input[type=password]:hover,
textarea:hover {
  background-color: var(--panel-h);
}

.btn,
.btn * {
  cursor: pointer;
  transform-origin: center;
  user-select: none;
}

.btn:hover {
  background-color: var(--panel-h);
}

.btn:active {
  transform: scale(95%);
}

.ph-error {
  border-color: red !important;
}

.ph-error::placeholder {
  color: red;
}

/*
|------------------------------------------------------------
| Body
|------------------------------------------------------------
*/

body {
  font-family: "Noto Sans", sans-serif;
  background-image: url('../imgs/bg.avif');
  /* background-color: blue; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-weight: 400;
  font-optical-sizing: auto;
  font-variation-settings:
    "wdth" 88;
  color: white;
  min-height: 100vh;
  padding: 2px;
  overflow-y: hidden;
}

.body-container {
  position: fixed;
  overflow-y: scroll;
  max-height: calc(100% - 4.8rem - 4px);
  transition: bottom .2s, transform .2s;
  bottom: 0;
  max-width: 100%;
  min-width: calc(100% - 2px);
}

.body-container::-webkit-scrollbar {
  background-color: transparent;
  width: 2px;
}

.body-container::-webkit-scrollbar-thumb {
  background-color: white;
} 

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 250,
  'GRAD' 0,
  'opsz' 24
}

/*
|------------------------------------------------------------
| Header
|------------------------------------------------------------
*/

header {
  background-color: var(--panel-bg);
  margin-bottom: 2px;
  top: 2px;
}

.menu-btn {
  font-size: 3.7rem;
  top: 51%;
  left: 3%;
  transform: translateY(-50%);
}

.sidebar-btn {
  font-size: 3.7rem;
  top: 51%;
  right: 3%;
  transform: translateY(-50%);
}

.page-title {
  font-size: 2rem;
  padding: 1rem;
}

.nav-menu {
  transform: scaley(0%);
  transform-origin: top;
  position: absolute;
  margin-top: 2px;
  transition: transform .2s;
  width: 100%;
}

.nav-menu > ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--panel-bg);
  margin-bottom: 2px;
  font-size: 1.1rem;
}

.nav-menu > ul li a {
  padding: .6rem 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-menu > ul li a:hover {
  background-color: var(--panel-h);
  text-decoration: underline;
}

/*
|------------------------------------------------------------
| Report
|------------------------------------------------------------
*/

.report-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .4rem;
  padding: .6rem;
  border: 1px solid white;
  visibility: hidden;
  opacity: 0;
  font-size: 1.5rem;
  transition: opacity .2s;
  z-index: 40;
  box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.644);
}

.report-form > span {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.8rem;
  line-height: 1;
}

.report-form > input[type='text'] {
  padding: .2rem .4rem;
}

.report-form > input[type='submit'] {
  border: 1px solid white;
  padding: .2rem .4rem;
}

/*
|------------------------------------------------------------
| Index
|------------------------------------------------------------
*/

.index > .post {
  background-color: var(--panel-bg);
  margin-bottom: 2px;
  padding: .6rem 1rem 1.6rem 1rem;
}

.index > .post > .menu {
  position: absolute;
  left: 5%;
  display: flex;
  margin: -.6rem;
}

.index > .post > .menu > .arrow {
  font-size: 1.6rem;
  user-select: none;
  cursor: pointer;
  color: var(--text-2);
  transform-origin: center;
  transition: transform .15s;
}

.index > .post > .menu > .arrow:hover {
  color: white;
}

.index > .post > .menu > .dropdown {
  position: absolute;
  background-color: black;
  border: 1px solid white;
  transform-origin: top;
  transform: scaleY(0);
  transition: transform .15s;
  user-select: none;
  left: 140%;
  top: 30%;
  font-size: 1.6rem;
  box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.644);
}

.index > .post > .menu > .dropdown * {
  cursor: pointer;
}

.index > .post > .menu > .dropdown > li input[type='submit'],
.index > .post > .menu > .dropdown > li a,
.index > .post > .menu > .dropdown > li div {
  padding: .3rem .8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.index > .post > .menu > .dropdown > li:hover {
  background-color: var(--solid-h);
}

.index > .post > .post-container .title {
  font-size: 1.2rem;
  font-weight: 600;
  text-wrap: balance;
}

.index > .post > .post-container .date {
  font-size: .85rem;
  color: var(--text-2);
}

.index > .post > .post-container .subtitle {
  font-size: .95rem;
  text-wrap: balance;
}

.index > .post > .post-container .poster span {
  color: var(--text-2);
}

.index > .post > .post-container .poster .link:hover {
  text-decoration: underline;
}

.index > .post > .post-container .body {
  margin-bottom: .5rem;
  text-align: left;
}

.index > .post *:not(.body, .body *) {
  text-align: center;
}

.index > .post > .post-container .thumb {
  margin: .7rem 0;
  border: 1px solid white;
  display: flex;
}

.index > .post > .post-container  img {
  width: 100%;
}

.index > .post > .post-container hr {
  background-color: white;
  margin-bottom: .5rem;
}

.continue {
  color: var(--text-2);
  text-align: center;
}

.index .comment-count {
  display: flex;
  position: absolute;
  right: 1.5rem;
  align-items: flex-end;
  margin: -1rem;
  user-select: none;
  cursor: pointer;
  border: 1px solid transparent;
  gap: .4rem;
  padding-right: .2rem;
}

.index .comment-count:hover {
  border: 1px solid white;
}

.index .comment-count span {
  font-size: 2rem;
}

.index .comment-count div {
  font-size: 1.5rem;
}

.filler {
  height: 35vh;
  width: 100%;
  background-color: var(--panel-bg);
  margin-bottom: 2px;
}

.index > .post > .post-container a {
  color: white;
}

.index > .post > .post-container > .body img {
  display: none;
}

/*
|------------------------------------------------------------
| Pagination
|------------------------------------------------------------
*/

.pagination {
  padding: .6rem 0;
  background-color: var(--panel-bg);
  display: flex;
  justify-content: center;
  margin-bottom: 2px;
}

.pagination > a {
  border: 1px solid white;
  border-right: none;
  padding: .4rem 0;
  text-align: center;
  font-size: 1.6rem;
  width: 2.7rem;
  user-select: none;
  cursor: pointer;
}

.pagination > a:last-child {
  border-right: 1px solid white;
}

.pagination > a:hover {
  background-color: var(--pag-h);
}

.pagination > a.active,
.pagination > a:active {
  background-color: var(--pag-a);
}

/*
|------------------------------------------------------------
| Single
|------------------------------------------------------------
*/

.single > .post {
  background-color: var(--panel-bg);
  margin-bottom: 2px;
  padding: .6rem 1rem 1rem 1rem;
  min-height: 92svh;
}

.single > .post .title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  text-wrap: balance;
  margin-bottom: .5rem;
}

.single > .post .subtitle {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  text-wrap: balance;
  margin-bottom: .3rem;
}

.single > .post .poster {
  text-align: center;
  font-size: 1rem;
  font-weight: 200;
  text-wrap: balance;
  color: var(--text-2);
}

.single > .post .poster a {
  color: white;
}

.single > .post .poster a:hover {
  text-decoration: underline;
}

.single > .post > .thumb {
  margin: .7rem 0;
  border: 1px solid white;
  display: flex;
}

.single > .post > .thumb >  img {
  width: 100%;
}

.single > .post > .body {
  margin-bottom: 2rem;
}

.single > .post > .body > p {
  text-indent: 1rem;
  hyphens: auto;
}

.single > .post hr {
  background-color: white;
  margin-bottom: 1rem;
}

.single > .post > .btns {
  display: flex;
  justify-content: center;
  margin-bottom: .8rem;
  gap: 2px;
}

.single > .post > .btns > * {
  border: 1px solid white;
  font-size: 1rem;
}

.single > .post > .btns > div,
.single > .post > .btns > a,
.single > .post > .btns > form > input[type='submit'] {
  padding: .3rem .6rem;
}

.single > .post .comment-count {
  display: flex;
  justify-content: center;
}

/*
|------------------------------------------------------------
| Single - New Comment
|------------------------------------------------------------
*/

.single > .comments > .new-comment {
  background-color: var(--panel-bg);
  margin-bottom: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .2rem 1rem .5rem 1rem;
}

.single > .comments > .new-comment label {
  text-align: center;
  margin-bottom: .2rem;
}

.single > .comments > .new-comment textarea {
  padding: .2rem .4rem;
  width: 100%;
  min-height: 2.8rem;
  margin-bottom: .6rem;
  max-height: 38vh;
}

.single > .comments > .new-comment input[type=submit] {
  border: 1px solid white;
  padding: .2rem .4rem;
}

/*
|------------------------------------------------------------
| Single - Comments
|------------------------------------------------------------
*/

.single > .comments > div {
  background-color: var(--panel-bg);
  margin-bottom: 2px;
  overflow: hidden;
  position: relative;
}

.single > .comments > .comment > .arrow {
  position: absolute;
  right: .3rem;
  font-size: 1.5rem;
  user-select: none;
  line-height: 1;
  color: var(--text-2);
  cursor: pointer;
  transform-origin: center;
  transition: transform .2s;
}

.single > .comments > .comment > .arrow:hover {
  color: white;
}

.single > .comments .comment-header {
  padding: .2rem 1rem;
  background-color: var(--panel-bg);
  font-weight: 200;
  text-align: center;
}

.single > .comments .comment-header a {
  font-weight: 400;
}

.single > .comments .comment-header a:hover {
  text-decoration: underline;
}

.single > .comments .comment-content {
  hyphens: auto;
}

.single .comment-avatar {
  border: 1px solid white;
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
  float: left;
}

.single .comment-avatar > img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.single .comment .body-col {
  padding: .2rem .5rem .6rem .5rem;
  min-height: 5rem;
}

.single > .comments .comment-footer {
  padding: .2rem 1rem;
  background-color: var(--panel-bg);
  font-weight: 200;
  text-align: center;
}

.comment-footer > div {
  min-height: 1.4rem;
}

/*
|------------------------------------------------------------
| Single - Comment Dropdown
|------------------------------------------------------------
*/

.single > .comments > .comment > .dropdown {
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  transition: transform .1s ease-in-out;
  padding: 1.2rem .4rem 0 .4rem;
}

.single > .comments > .comment > .dropdown form {
  max-height: 100%;
}

.single > .comments .dropdown textarea {
  padding: .2rem .4rem;
  width: 100%;
  background-color: var(--panel-h);
  margin-bottom: .2rem;
  min-height: 4.4rem;
  resize: none;
}

.single > .comments .dropdown textarea::-webkit-scrollbar,
.single > .comments > .new-comment textarea::-webkit-scrollbar {
  width: 1rem;
}

.single > .comments .dropdown textarea::-webkit-scrollbar-track,
.single > .comments > .new-comment textarea::-webkit-scrollbar-track {
  background-color: transparent;
}

.single > .comments .dropdown textarea::-webkit-scrollbar-thumb,
.single > .comments > .new-comment textarea::-webkit-scrollbar-thumb {
  background-color: var(--panel-a);
  border-radius: 10px;
  background-clip: padding-box;
  border: 3px solid transparent;
  cursor: grab;
}

.single > .comments .dropdown textarea::-webkit-scrollbar-thumb:hover,
.single > .comments > .new-comment textarea::-webkit-scrollbar-thumb:hover {
  background-color: var(--black-panel-h);
}

/* Scrollbar :active pseudoelement is broken */
/* .single > .comments .dropdown textarea::-webkit-scrollbar-thumb:active,
.single > .comments > .new-comment textarea::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
} */

.single > .comments .dropdown textarea::-webkit-scrollbar-corner,
.single > .comments > .new-comment textarea::-webkit-scrollbar-corner {
  background-color: transparent;
}

.single > .comments .dropdown form input[type=submit] {
  border: 1px solid white;
  padding: .4rem .6rem;
  margin-right: .3rem;
}

.single > .comments .dropdown .edit input[type=submit],
.single > .comments .dropdown .report-btn {
  float: left;
}

.single > .comments .dropdown .report-btn {
  border: 1px solid white;
  padding: .4rem .6rem;
}

.single > .comments .dropdown .del {
  float: right;
}

/*
|------------------------------------------------------------
| Sidebar
|------------------------------------------------------------
*/

.sidebar {
  transform: scalex(0%);
  transform-origin: right;
  position: fixed;
  transition: transform .2s, bottom .2s;
  background-color: var(--panel-bg);
  width: 80%;
  right: 2px;
  padding: 1.2rem;
  min-height: 100%;
  bottom: calc(-4.8rem - 4px);
}

.sidebar .side-btns {
  display: flex;
  flex-direction: column;
  gap: .6rem;
  user-select: none;
  margin-bottom: .6rem;
}

.form-btn {
  width: 100%;
}

.side-btns a,
.form-btn {
  border: 1px solid white;
  padding: .8rem;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
}

.side-btns a:hover,
.form-btn:hover {
  background-color: var(--panel-h);
}

.side-btns a:active
.form-btn:active {
  background-color: var(--panel-h);
}

.search {
  display: flex;
}

.searchbar {
  background-color: transparent;
  border: 1px solid white;
  padding: .7rem .5rem;
  font-size: 1.2rem;
  width: 100%;
}

.search-btn {
  border: 1px solid white;
  border-left: none;
  font-size: 1.2rem;
  padding: .7rem .5rem;
  cursor: pointer;
  width: calc(1.2rem + (1.2rem / 10 * 4) + .7rem * 2 + 2px);
}

.searchbar:hover,
.search-btn:hover {
  background-color: var(--panel-h);
}

/*
|------------------------------------------------------------
| Auth
|------------------------------------------------------------
*/

.auth-container {
  padding: 1rem 1rem 1.6rem 1rem;
  background-color: var(--panel-bg);
  height: 100vh;
  margin-bottom: 2px;
}

.auth label {
  display:inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: .3rem;
  font-size: 1.2rem;
}

.auth input {
  margin-bottom: .2rem;
  width: 100%;
  font-size: 1.3rem;
  padding: .7rem .4rem;
  text-align: center;
}

.auth span {
  margin-bottom: 1.8rem;
  display: block;
  text-align: center;
}

.auth input[type=submit] {
  border: 1px solid white;
  margin-top: 2rem;
}

.login input {
  margin-bottom: 2rem;
}

/*
|------------------------------------------------------------
| Create/edit post
|------------------------------------------------------------
*/

.create-post,
.edit-post {
  padding: 1rem 1rem 1.6rem 1rem;
  background-color: var(--panel-bg);
  min-height: 100vh;
  margin-bottom: 2px;
}

.new-post-form > label,
.update-post-form > label {
  display:inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: .3rem;
}

.new-post-form > input[type=text],
.update-post-form > input[type=text] {
  margin-bottom: 2rem;
  font-size: 1.1rem;
  padding: .5rem .4rem;
  width: 100%;
}

.new-post-form .title,
.new-post-form .subtitle,
.update-post-form .title,
.update-post-form .subtitle {
  text-align: center;
}

.file-up {
  display: flex;
  margin-bottom: 2rem;
}

.file-up-btn {
  padding: .1rem .7rem;
  border: 1px solid white;
  border-right: none;
  font-size: 1.7rem;
}

.file-up-field {
  border-left: none;
  width: 100%;
  padding: .5rem .4rem;
  font-size: 1.1rem;
}

.editor-tabs {
  display: flex;
  align-items: center;
}

.tab {
  display: inline-block;
  border: 1px solid white;
  cursor: pointer;
}

.tab:hover {
  background-color: var(--panel-h);
}

.tab.active {
  background-color: var(--panel-a);
}

.tab > label,
.tab > span {
  display: inline-block;
  padding: .6rem .4rem;
  cursor: pointer;
}

.editor-tabs > span {
  margin-left: .4rem;
  border-radius: 50%;
  font-size: 2rem;
}

.tab-content {
  margin-bottom: 2rem;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: flex;
}

.new-post-form textarea,
.update-post-form textarea {
  min-height: 200px;
  font-size: 1.1rem;
  padding: .5rem .4rem;
  width: 100%;
}

.formatting-help {
  background-color: black;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease-in-out;
  border: 1px solid white;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -2%);
  display: flex;
  flex-direction: column;
  width: fit-content;
  text-wrap: nowrap;
}

.formatting-help > span {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  font-weight: 600;
}

.formatting-help *:not(.list, ol, ul, li, .quote, blockquote, blockquote > p) {
  text-align: center;
}

.formatting-help > div {
  border-bottom: 1px solid white;
  width: 100%;
  padding: .3rem 1rem;
}

.formatting-help > .group {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

.preview.body-preview {
  font-size: 1.1rem;
  padding: .5rem .4rem;
  min-height: 200px;
  border: 1px solid white;
  width: 100%;
  max-width: 100%;
  z-index: 2;
}

.new-post-form > input[type=submit],
.update-post-form > input[type=submit] {
  border: 1px solid white;
  font-size: 1.1rem;
  padding: .5rem .4rem;
  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}

/*
|------------------------------------------------------------
| Popup
|------------------------------------------------------------
*/

.popup-container {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border: 1px solid white;
  box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.644);
  font-size: 1.7rem;
  padding: 1rem 1rem;
  transition: top .3s ease-in-out;
}

.popup {
  width: 60vw;
  text-align: center;
}

/*
|------------------------------------------------------------
| User
|------------------------------------------------------------
*/

.single > .user {
  background-color: var(--panel-bg);
  margin-bottom: 2px;
  padding: .6rem 1rem 1rem 1rem;
  min-height: 92svh;
  display: block;
}

.single > .user > .role {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.single > .user > .role > div {
  padding: .1rem .2rem;
  font-size: .9rem;
  font-weight: 500;
  position: relative;
  user-select: none;
}

.single > .user > .role .role-arrow {
  position: absolute;
  top: 0;
  right: -40%;
  cursor: pointer;
  color: var(--text-2);
  transform-origin: center;
  font-size: 1.2rem;
  line-height: 1;
  transform: rotateX(0deg);
  transition: transform .14s ease-in-out;
}

.single > .user > .role .role-arrow:hover {
  color: white;
}

.single > .user > .role > .change-role {
  position: absolute;
  top: 100%;
  transform: scaley(0);
  transition: transform .15s ease-in-out;
  transform-origin: top;
}

.single > .user > .role > .change-role > ul {
  display: flex;
  flex-direction: column;
}

.single > .user > .role > .change-role > ul > li {
  padding: .1rem .2rem;
  font-size: .9rem;
  font-weight: 500;
  user-select: none;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
}

.single > .user > .role > .change-role > ul > li > div {
  position: absolute;
  right: -15%;
  transform: translateY(-7%);
  width: calc(.2rem + (.9rem * 1.4));
  height: calc(.2rem + (.9rem * 1.4));
  display: flex;
  align-items: center;
  justify-content: center;
}

.single > .user > .role > .change-role > input[type='submit'] {
  background-color: black;
  border: 1px solid white;
  padding: 0 .7rem;
}

.single > .user > .role > .user,
.single > .user > .role > .change-role > ul > li.user,
.single > .user > .role > .change-role > ul > li > div.user {
  background-color: var(--blue);
}

.single > .user > .role > .poster,
.single > .user > .role > .change-role > ul > li.poster,
.single > .user > .role > .change-role > ul > li > div.poster {
  background-color: var(--green);
}

.single > .user > .role > .mod,
.single > .user > .role > .change-role > ul > li.mod,
.single > .user > .role > .change-role > ul > li > div.mod {
  background-color: var(--purple);
}

.single > .user > .role > .admin,
.single > .user > .role > .change-role > ul > li.admin,
.single > .user > .role > .change-role > ul > li > div.admin {
  background-color: var(--yellow);
}

.single > .user > .role > .restricted,
.single > .user > .role > .change-role > ul > li.restricted,
.single > .user > .role > .change-role > ul > li > div.restricted {
  background-color: var(--orange);
}

.single > .user > .role > .banned,
.single > .user > .role > .change-role > ul > li.banned,
.single > .user > .role > .change-role > ul > li > div.banned {
  background-color: var(--red);
}

.single > .user > h1 {
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
}

.single > .user > h2 {
  font-size: 1rem;
  font-weight: 100;
  width: 100%;
  text-align: center;
  margin-bottom: .4rem;
}

.single .user-avatar {
  border: 1px solid white;
  width: 50vw;
  height: 50vw;
  margin: 0 auto 0 auto;
}

.single .user-avatar > img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.single > .user .avatar-label-holder,
.single > .user .report-holder {
  display: flex;
  justify-content: center;
}

.single > .user .avatar-label-holder {
  margin-bottom: .6rem;
}

.single > .user .report-holder {
  margin-top: .6rem;
}

.single > .user .avatar-label,
.single > .user .report-btn {
  width: 50vw;
  border: 1px solid white;
  text-align: center;
  padding: .4rem 0;
}

.single > .user .avatar-label {
  border-top: none;
}

.single > .user .report-btn {
  border-bottom: none;
}

.single > .user > .posts {
  margin-top: .6rem;
}

.single > .user > .saved-posts {
  display: flex;
}

.single > .user > .posts > a,
.single > .user > .comments > a,
.single > .user > .saved-posts {
  margin-bottom: .4rem;
  cursor: pointer;
}

.single > .user > .posts > a:hover,
.single > .user > .comments > a:hover,
.single > .user > .saved-posts:hover {
  text-decoration: underline 1px;
  color: white;
}

.single > .user > .posts,
.single > .user > .comments {
  display: flex;
  justify-content: space-between;
}

.single > .user form.user {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.single > .user form.user input[type=text],
.single > .user form.user input[type=email],
.single > .user form.user input[type=password] {
  margin-bottom: .4rem;
  padding: .3rem .5rem;
  text-align: center;
}

.single > .user hr {
  background-color: white;
  margin: 1.6rem 0;
}

.single > .user form.user > div {
  display: flex;
  justify-content: center;
}

.single > .user form.user input[type=submit] {
  border: 1px solid white;
  width: fit-content;
  padding: .3rem .5rem;
  margin-top: 1rem;
}

/*
|------------------------------------------------------------
| Reports Index
|------------------------------------------------------------
*/

.index > .reports-title {
  background-color: var(--panel-bg);
  margin-bottom: 2px;
  padding: .6rem 1rem;
  font-size: 1.3rem;
  text-align: center;
}

.index > .reports-btns {
  display: flex;
  gap: 2px;
  margin-bottom: 2px;
}

.index > .reports-btns > form {
  background-color: var(--panel-bg);
  width: 50%;
}

.index > .reports-btns > form:hover > * {
  text-decoration: underline;
}

.index > .reports-btns > form > input[type='submit'] {
  padding: .6rem 1rem;
  width: 100%;
  text-align: center;
}

.index > .reports-title > span {
  color: red;
}

.index > .report {
  background-color: var(--panel-bg);
  margin-bottom: 2px;
  padding: 1.4rem 0rem;
  border: 6px solid red;
}

.index > .report.done {
  border: 6px solid green;
}

.index > .report > .report-container > div {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: .2rem 1.2rem;
  border-bottom: 1px solid white;
}

.index > .report > .report-container > div:nth-child(odd) {
  background-color: var(--panel-h);
}

.index > .report > .report-container > div > div > a {
  width: fit-content;
  cursor: pointer;
}

.index > .report > .report-container > div > div > a:hover {
  text-decoration: underline;
}

/*
|------------------------------------------------------------
| Search
|------------------------------------------------------------
*/

.index > .results {
  background-color: var(--panel-bg);
  padding: .6rem 1rem;
  margin-bottom: 2px;
}

/*
|------------------------------------------------------------
| Footer
|------------------------------------------------------------
*/

footer {
  background-color: var(--panel-bg);
  padding: 1rem;
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
  gap: .7rem;
}

footer span {
  user-select: none;
}

footer a:hover {
  text-decoration: underline;
}