.body-preview {
  color: white;
  word-wrap: break-word;
}

.body-preview a {
  color: #2f81f7;
  text-decoration: none;
}

.body-preview a:hover {
  text-decoration: underline;
}

.body-preview strong {
  font-weight: 800;
}

.body-preview em {
  font-style: italic;
}

.body-preview del {
  text-decoration: line-through;
}

.body-preview strong em {
  font-style: italic;
  font-weight: 600;
}

.body-preview strong em,
.body-preview em strong {
  font-style: italic;
  font-weight: 600;
}

.body-preview sub,
.body-preview sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.body-preview sub {
  bottom: -0.25em;
}

.body-preview sup {
  top: -0.5em;
}

.body-preview h1 {
  font-size: 1.3rem;
  margin-top: 4px;
  margin-bottom: 4px;
  font-weight: 600;
  line-height: 1.25;
}

.body-preview p {
  margin-top: 0;
  margin-bottom: 10px;
}

.body-preview blockquote {
  margin: 0;
  padding: 0 1em;
  color: #e1e1e1;
  border-left: .25em solid #c4c4c4;
}

.body-preview ul, .body-preview ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
  list-style: circle;
}

.body-preview ul {
  list-style: disc;
}

.body-preview ol {
  list-style: decimal;
}

.body-preview ul ul,
.body-preview ul ol,
.body-preview ol ol,
.body-preview ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.body-preview ul ul,
.body-preview ol ul {
  list-style: circle;
}

.body-preview ul ul ul,
.body-preview ul ol ul,
.body-preview ol ul ul,
.body-preview ol ol ul {
  list-style: square;
}

.body-preview li + li {
  margin-top: .25em;
}

.body-preview li > p {
  margin-top: 16px;
}

.body-preview img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #0d1117;
}